<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css_files/home.css' %}">
</head>
<body>
<div class="full-page">
  <div class="navbar">
    <div>
      <a href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.jpg' %}"></a>
    </div>
    <nav>
      <ul id='MenuItems'>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'contact_us' %}">Contact</a></li>
        <li><a href="{% url 'login' %}" style="width:auto;">Login</a></li>
        <li><a href="{% url 'signup' %}" style="width:auto;">Signup</a></li>
      </ul>
    </nav>
  </div>
</div>
</body>
</html>