<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forget Password</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css_files/home.css' %}">
</head>
<body>
<div class="full-page">
  <div class="navbar">
    <div>
      <img class="logo" src="{% static 'images/logo.jpg' %}">
    </div>
    <nav>
      <ul id='MenuItems'>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href='#'>About Us</a></li>
        <li><a href='#'>Services</a></li>
        <li><a href='#'>Contact</a></li>
        <li><a href="{% url 'login' %}" style="width:auto;">Login</a></li>
        <li><a href="{% url 'signup' %}" style="width:auto;">Signup</a></li>
      </ul>
    </nav>
  </div>
  <div class="form-box">
    <div class='headline-box'>
      <div class='headline'>Forget Password</div>
    </div>
    <form id='register' class='input-group-register' method="post">
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <input type='email' class='input-field' placeholder='Email/UserName' required id="email_username" name="email_username">
      <button type='submit' class='submit-btn'>Send Recovery Email</button>
    </form>
  </div>
</div>
</body>
</html>