*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/background_img.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}
a
{
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
}
.form-box
{
    width:380px;
	height:380px;
	position: center;
	margin:2% auto;
	background:rgba(0,0,0,0.1);
	padding:10px;
}
.headline-box
{
	width:280px;
	margin:0px 45px;
	position: center;
	box-shadow: 0 0 20px 9px #ff61241f;
}
.headline
{
    margin:10px 0px;
	padding:10px 110px;
	position: center;
	background: #F3C693;
}
.input-group-register
{
    top: 120px;
	padding:10px 0;
    margin:10px 45px;
	position:center;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	text-align:center;
	margin:5px 0;
	border:0;
	outline:none;
	background-color: rgba(0, 0, 0, 0.1);
}
.submit-btn
{
	width: 50%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:#777;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}